<div class="container mt-4">
  <h3 class="mb-4">Score Trainer (Trispot)</h3>
  <div class="mb-3">
    <label for="disciplineSelect" class="form-label">Discipline :</label>
    <select
      id="disciplineSelect"
      class="form-select w-auto d-inline-block ms-2"
      [(ngModel)]="selectedDiscipline"
      (ngModelChange)="generateAndFocusArrow1()">
      <option *ngFor="let d of disciplines" [value]="d">{{ d.replace('scores_', '') }}</option>
    </select>
    <div class="float-end bg-info p-2 rounded-3">
      Pour des raisons de simplicité de calcul,
      le "manqué" est affiché "0" au lieu de "M".
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <h5 class="card-title">
        Situation générée
        <button
          type="button"
          class="btn btn-warning float-end"
          (click)="generateAndFocusArrow1()">
          Nouvelle situation
        </button>
      </h5>
    </div>
    <div class="card-body">
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th *ngFor="let spot of [1, 2, 3]">Spot {{ spot }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td *ngFor="let spot of [1, 2, 3]">
              <div *ngFor="let arrow of groupedArrows[spot]">
                <span class="badge bg-primary me-1">{{ arrow.value }}</span>
                <span
                  *ngIf="arrow.isLate"
                  class="badge bg-danger ms-2">
                  Hors temps
                  <ng-container
                    *ngIf="selectedDiscipline === 'scores_campagne'">
                    ({{ situation.lateWarningGiven ? 'déjà' : 'pas' }}
                    avertis)
                  </ng-container>
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <form [formGroup]="scoreForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="card mb-4">
      <div class="card-header">
        <h5 class="card-title">Réponse</h5>
      </div>
      <div class="card-body">
        <table class="table table-bordered text-center mb-4">
          <thead>
            <tr>
              <th>Flèche 1</th>
              <th>Flèche 2</th>
              <th>Flèche 3</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input
                  type="number"
                  class="form-control"
                  id="arrow1"
                  formControlName="arrow1"
                  min="minArrowValue"
                  [max]="maxArrowValue"
                  autofocus
                  #arrow1Input
                />
              </td>
              <td>
                <input
                  type="number"
                  class="form-control"
                  id="arrow2"
                  formControlName="arrow2"
                  min="minArrowValue"
                  [max]="maxArrowValue"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="form-control"
                  id="arrow3"
                  formControlName="arrow3"
                  min="minArrowValue"
                  [max]="maxArrowValue"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="form-control"
                  id="retainedScore"
                  formControlName="retainedScore"
                  min="0"
                  [max]="maxArrowValue * numArrows"
                />
              </td>
            </tr>
          </tbody>
        </table>
        <div class="text-end">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="submitted">
            Valider
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="card" *ngIf="submitted">
      <div class="card-header">
        <h5 class="card-title">Correction
          <div class="float-end" *ngIf="scoreResult.penaltyCount > 0">
            <span class="me-2">
              {{ scoreResult.penaltyCount }}
              erreur{{ scoreResult.penaltyCount > 1 ? 's' : '' }} de type :
            </span>
            <span
              *ngIf="situation.errors.duplicateSpots"
              class="badge bg-danger me-2 float-end">
              Spot utilisé plusieurs fois
            </span>
            <span
              *ngIf="situation.errors.tooManyArrows"
              class="badge bg-danger me-2 float-end">
              Trop de flèches tirées
            </span>
            <span
              *ngIf="hasLateArrow"
              class="badge bg-danger me-2 float-end">
              Hors temps
            </span>
          </div>
          <span
            class="badge bg-danger me-2 float-end"
            *ngIf="
              hasLateArrow
              && !situation.lateWarningGiven
              && selectedDiscipline === 'scores_campagne'
            ">
            Mettre un avertissement pour dépassement de temps
          </span>
        </h5>
      </div>
      <div class="card-body">
        <table class="table table-bordered text-center mb-4">
          <thead>
            <tr>
              <th>Flèche 1</th>
              <th>Flèche 2</th>
              <th>Flèche 3</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td
                [ngClass]="{
                'green': scoreForm.value.arrow1 == retainedArrows[0],
                'red': scoreForm.value.arrow1 != retainedArrows[0]
                }">{{ retainedArrows[0] }}</td>
              <td
                [ngClass]="{
                'green': scoreForm.value.arrow2 == retainedArrows[1],
                'red': scoreForm.value.arrow2 != retainedArrows[1]
                }">{{ retainedArrows[1] }}</td>
              <td
                [ngClass]="{
                'green': scoreForm.value.arrow3 == retainedArrows[2],
                'red': scoreForm.value.arrow3 != retainedArrows[2]
                }">{{ retainedArrows[2] }}</td>
              <td
                [ngClass]="{
                'green':
                  scoreForm.value.retainedScore == scoreResult.retainedScore,
                'red':
                  scoreForm.value.retainedScore != scoreResult.retainedScore
                }">{{ scoreResult.retainedScore }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
