<div class="float-end">
  <label class="pr-3">Quizz &nbsp;</label>
  <ng-toggle
    [ngModel]="quizzMode"
    (ngModelChange)="toggleMode()"></ng-toggle>
</div>
<dl class="row">
  <dt class="col-md-4 d-flex align-items-center">Discipline</dt>
  <dd class="col-md-6 form-group">
    <select
      class="form-control"
      [(ngModel)]="selectedDiscipline"
      (change)="selectDiscipline($event.target)">
      <option value="" disabled>
        Sélectionner une discipline...
      </option>
      <option *ngFor="let key of disciplineKeys" [value]="key">
        {{ disciplines[key].getName() }}
      </option>
    </select>
  </dd>
  <ng-container *ngIf="selectedDiscipline !== ''">
    <dt class="col-md-4 d-flex align-items-center">Tableau</dt>
    <dd class="col-md-6 form-group" *ngIf="selectedDiscipline !== ''">
      <select
        class="form-control"
        [(ngModel)]="selectedTableKey"
        (change)="selectTable($event.target)">
        <option value="" disabled>
          Sélectionner un tableau...
        </option>
        <option
          *ngFor="let tableKey of tables | keyvalue"
          [value]="tableKey.key">
          {{ tableKey.value.name }}
        </option>
      </select>
    </dd>
  </ng-container>
</dl>

<app-table-checker
  *ngIf="selectedTableKey !== ''"
  [selectedTable]="tables[selectedTableKey]"
  [quizzMode]="quizzMode">
</app-table-checker>
