<div class="mb-3 text-end">
  <label for="disciplineSelect" class="form-label">Discipline :</label>
  <select
    id="disciplineSelect"
    class="form-select w-auto d-inline-block ms-2"
    [(ngModel)]="selectedDiscipline"
    (ngModelChange)="generate()">
    <option
      *ngFor="let d of disciplines"
      [value]="d">
      {{ d.replace('scores_', '') }}
    </option>
  </select>
</div>
<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title">
      Situation générée
      <button
        type="button"
        class="btn btn-warning float-end mobile-hidden"
        (click)="generate()">
        Nouvelle situation
      </button>
    </h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-4">
        <app-target
          [discipline]="
            selectedDiscipline === 'scores_campagne' ? 'campagne' : 'standard'
          "
          [arrows]="situation.arrows"
          [size]="10"
        ></app-target>
      </div>
      <div class="col-lg-8">
        <h6>Valeurs des flèches :</h6>
        <div *ngFor="let arrow of situation.arrows; let i = index" class="row">
          <div class="col-4 offset-lg-2 text-end">
            <span class="badge bg-secondary me-2">Flèche {{ i + 1 }}</span>
          </div>
          <div class="col-1 text-center">
            <span class="badge bg-primary me-1">{{ arrow.value }}</span>
          </div>
          <div class="col-5">
            <span
              *ngIf="arrow.isLate"
              class="badge bg-danger ms-2">
              Hors temps
              <ng-container *ngIf="selectedDiscipline === 'scores_campagne'">
                ({{ situation.lateWarningGiven ? 'déjà' : 'pas' }} avertis)
              </ng-container>
            </span>
          </div>
        </div>
        <app-score-form
          [scoreForm]="scoreForm"
          [minArrowValue]="minArrowValue"
          [maxArrowValue]="maxArrowValue"
          [numArrows]="numArrows"
          (submitted)="showAnswer($event)"
        ></app-score-form>
      </div>
    </div>
  </div>
</div>

<app-score-result
  *ngIf="submitted"
  [situation]="situation"
  [scoreResult]="scoreResult"
  [scoreForm]="scoreForm"
  [selectedDiscipline]="selectedDiscipline"
  [hasLateArrow]="hasLateArrow"
  [retainedArrows]="retainedArrows"
></app-score-result>

<button
  type="button"
  class="btn btn-warning float-end mobile-only"
  [ngClass]="{'mt-3': submitted, 'mt-0': !submitted}"
  (click)="generate()">
  Nouvelle situation
</button>
