th, td {
  text-align: center;
  vertical-align: middle;
}



.table-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.table-card {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.table-card.selected {
  background-color: #007bff; /* Couleur de fond du tableau sélectionné */
  color: white; /* Couleur du texte quand sélectionné */
}

.table-card h3 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.table-card p {
  font-size: 0.9rem;
  color: #555;
  margin-top: 8px;
}


.answers-table {
  margin-top: 20px;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.answers-table h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 15px;
}
