/* Show it is fixed to the top */
body {
  min-height: 75rem;
}

.mobile-hidden {
  @media (max-width: 576px) {
    display: none !important;
  }
}

.mobile-only {
  @media (min-width: 577px) {
    display: none !important;
  }
}

@media (max-width: 576px) {
  /* Chrome, Safari, Edge, Opera */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
