<h2>Accueil</h2>
<p>Bienvenue sur <strong>ArbiTools</strong> !</p>
<p>
  Ce site a pour but de permettre de réviser certaines parties du règlement de
  la <strong>FFTA</strong>. <br /> Il n'est en rien un outil officiel de la
  <strong>FFTA</strong> et n'a aucune valeur légale.
</p>
<p>Veuillez sélectionner un outil dans le menu de gauche pour commencer les
exercices.
</p>
<p>Vous pouvez retrouver le règlement sur le site de la <strong>FFTA</strong>,
dans la rubrique "Vie sportive > L'arbitrage > Règlements sportifs et
Arbitrage" : <br />
<a
href="https://www.ffta.fr/vie-sportive/larbitrage/reglements-sportifs-et-arbitrage">https://www.ffta.fr/vie-sportive/larbitrage/reglements-sportifs-et-arbitrage</a>
</p>
