
<form [formGroup]="scoreForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="card mb-4 mt-3">
    <div class="card-header">
      <h5 class="card-title">Réponse</h5>
    </div>
    <div class="card-body">
      <table class="table table-bordered text-center mb-4">
        <thead>
          <tr>
            <th><span class="mobile-hidden">Flèche </span>1</th>
            <th><span class="mobile-hidden">Flèche </span>2</th>
            <th><span class="mobile-hidden">Flèche </span>3</th>
            <th>
              <span class="mobile-hidden">Total</span>
              <span class="mobile-only">Σ</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <select formControlName="arrow1" class="form-control">
                <option [value]="0">0</option>
                <option *ngFor="let val of arrowValues" [value]="val">
                  {{ val }}
                </option>
              </select>
            </td>
            <td>
              <select formControlName="arrow2" class="form-control">
                <option [value]="0">0</option>
                <option *ngFor="let val of arrowValues" [value]="val">
                  {{ val }}
                </option>
              </select>
            </td>
            <td>
              <select formControlName="arrow3" class="form-control">
                <option [value]="0">0</option>
                <option *ngFor="let val of arrowValues" [value]="val">
                  {{ val }}
                </option>
              </select>
            </td>
            <td>
              <input
                type="number"
                class="form-control"
                id="retainedScore"
                formControlName="retainedScore"
                min="0"
                [max]="maxArrowValue * numArrows"
              />
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-end">
        <button
          type="submit"
          class="btn btn-primary">
          Valider
        </button>
      </div>
    </div>
  </div>
</form>
